@import 'variables';
@import 'utilities';
@import './components/navigation';
@import './components/shoppingCartBadge';
@import './components/articleDetails';
@import './components/intensityFilter';
@import './components/shoppingCart';

html, body {
	color: #58595A;
}

.contentWrapper {
	padding-top: $main-navigation-height + 20px;
}

.articleList {
	float: left;
}

.showIndicators {
	.componentIndicator {
		border: 3px solid #e74c3c;
		margin: 5px;
	}
}